body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
.main-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.meme-generator {
    margin: 20px auto;
    width: 400px;
    font-family: sans-serif;
  }
  
  .meme-canvas{
    margin: 20px auto;
    width: 300px;
    font-family: sans-serif;
  }
  .meme-generator label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .meme-generator input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .btn-submit{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
  }
  
  #meme {
    width: 100%;
    align-items: center;
  }
  